/* Align property names and values */
.project-details {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  margin-bottom: 1rem;
}

.control-bar {
  display: flex;
  gap: .5rem;
  margin-bottom: .8rem;
}

.control-bar button {
  padding:.4rem 1rem;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: rgb(249, 180, 119);
  color: white;
}

.detail-row {
  display: flex;
  align-items: center;
}

.detail-key {
  min-width: 180px;
  /* ensures all keys align */
  font-weight: 600;
  color: #333;
}
