.navbar {
  color: #111;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 7px 0px;
  background-color: rgb(249, 255, 212);
}

/* Grouping left title and center links */
.navbar-left-group {
  display: flex;
  align-items: center;
  gap: 5rem; /* Space between title and links */
}

/* Left */
.navbar-left {
  display: flex;
  flex-direction: column;
}

.nav-title {
  font-size: 18px;
  margin: 0;
  letter-spacing: 2px;
}

/* Center */
.navbar-center {
  display: flex;
  gap: 16px;
}

.navbar-center a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

/* Right */
.navbar-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.create-btn {
  padding: 6px 12px;
  border: none;
  outline: none;
  background-color: #739cfe;
  color: #ffffff;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.create-btn:hover {
  background-color: #f0f0f0;
}

.circle-icon {
  width: 28px;
  height: 28px;
  border: 2px solid #333;
  border-radius: 50%;
}
